<!-- Navbar -->
<nav id="homeNavbar" class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
	{% for nav in site.data.nav %}
	  {% if nav.subcategories != null %}
    {% if nav.title == page.title or page.url contains nav.href %}
	    <li class="dropdown active">
    {% else %}
    <li class="dropdown">
      {% endif %}
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav.title }}<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
      <li class="dropdown-header">{{ nav.title }}</li>
		  {% for subcategory in nav.subcategories %}
		    <li><a href="{{ site.github.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
		  {% endfor %}
		</ul>
	    </li>
	{% elsif nav.external-subcategories != null %}
  	    <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav.title }}<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li class="dropdown-header">{{ nav.title }}</li>
		  {% for subcategory in nav.external-subcategories %}
		    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
		  {% endfor %}
		</ul>
	    </li>
		{% elsif nav.title == page.title or page.url contains nav.href %}
		  <li class="active"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
		{% else %}
		  {% if nav.href %}
		  <li class="header-nav"><a href="{{ site.github.url }}{{ nav.href }}">{{ nav.title }}</a></li>
		    {% elsif nav.external %}
		    <li class="header-nav"><a href="{{ nav.external }}">{{ nav.title }}</a></li>
		  {% endif %}
	  {% endif %}
	{% endfor %}
</ul>
<!-- right nav -->
<ul class="nav navbar-nav navbar-right">
  {% for nav in site.data.navr %}
	  {% if nav.subcategories != null %}
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav.title }}<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
      <li class="dropdown-header">{{ nav.title }}</li>
		  {% for subcategory in nav.subcategories %}
		    <li><a href="{{ site.github.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
		  {% endfor %}
		</ul>
	    </li>
	{% elsif nav.external-subcategories != null %}
  	    <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav.title }}<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li class="dropdown-header">{{ nav.title }}</li>
		  {% for subcategory in nav.external-subcategories %}
		    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
		  {% endfor %}
		</ul>
	    </li>
		{% elsif nav.title == page.title %}
		  <li class="active"><a href="{{ nav.href }}">{{ nav.title }}</a></li>
		{% else %}
		  {% if nav.href %}
		  <li class="header-nav"><a href="{{ site.github.url }}{{ nav.href }}">{{ nav.title }}</a></li>
		    {% elsif nav.external %}
		    <li class="header-nav"><a href="{{ nav.external }}">{{ nav.title }}</a></li>
		  {% endif %}
	  {% endif %}
	{% endfor %}
</ul>
</div>
</div>
</nav>
