---
layout: default
---
<link rel="stylesheet" href="{{ "/css/sai-home.css" | relative_url }}">
<!--Welcome-->
<div class="jumbotron">
<div class="container">
	<img src="{{ "/img/logo-header-banner-large.png" | relative_url }}" width="100%" alt="Sutfin Art Industries Logo">
	<p>Welcome. We specialize in the design, production and installation of visual art. Please have a look at our galleries to see the types of work we do and contact us if you have any questions or would like more information. Thank you.</p>
</div>
</div>
<!-- Website categories and featurettes
================================================== -->
<div class="container marketing">
  <!-- Three columns -->
  <div class="row">
    <div class="col-lg-4">
      <a href="{{ "/visual-art/" | relative_url }}"><img class="img-thumbnail" src="{{ "/img/terri-painting-flower.jpg" | relative_url }}" width="250" alt=""></a>
      <h2>Visual Art</h2>
      <p>Design, Illustration, Ink, Murals and Paintings</p>
      <p><a class="btn btn-default" href="{{ "/visual-art/" | relative_url }}" role="button">View Art &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <a href="{{ "/projects/" | relative_url }}"><img class="img-thumbnail" src="{{ "/img/reese-and-terri-on-ladder.jpg" | relative_url }}" width="250" alt=""></a>
      <h2>Projects</h2>
      <p>Custom Themes and Art Installations</p>
      <p><a class="btn btn-default" href="{{ "/projects/" | relative_url }}" role="button">View Projects &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <a href="{{ "/custom-signs/" | relative_url }}"><img class="img-thumbnail" src="{{ "/img/cut-out-goat.jpg" | relative_url }}" width="250" alt=""></a>
      <h2>Custom Signs</h2>
      <p>Hand-Crafted Signs</p>
      <p><a class="btn btn-default" href="{{ "/custom-signs/" | relative_url }}" role="button">View Signs &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <!-- START THE FEATURETTES -->
	<h2 class="featurette-heading">Recent Projects</h2>
  <hr class="featurette-divider">
  <div class="row featurette">
		<div class="col-md-7">
			<iframe src="https://player.vimeo.com/video/226059872" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-5">
      <h2 class="featurette-heading">"What a Wonderful World" -mural</h2>
      <h3><span class="text-muted">Timelapse Video</span></h3>
                        <!-- Recent Project Description goes below -->
      <p class="lead">Created for the Sideways Inn located in Buellton, California. The mural celebrates the music of Louis Armstrong and his song titled &quot;What a Wonderful World.&quot; Check out the timelapse video of its creation.</p>
    </div>
  </div>
	<hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-6">
			<h2 class="featurette-heading">"Ode to Arches" -mural</h2>
      <h3><span class="text-muted">Image Gallery</span></h3>
			<!-- Recent Project Description goes below -->
      <p class="lead">Created for Canyonlands RV Resort located in Moab, Utah. The mural is a tribute to many of the scenic wonders that are in Arches National Park.</p>
    </div>
		<div class="col-md-1">
		</div>
    <div class="col-md-5">
      <a href="{{ "/visual-art/murals/ode-to-arches-national-park-moab-utah/" | relative_url }}"><img class="featurette-image img-responsive" src="{{ "/img/recent-project-th.jpg" | relative_url }}" width="500" alt="Ode to Arches National Park Mural" title="Ode to Arches National Park Mural"></a>
    </div>
  </div>
  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
