---
layout: page
---
<style>
div.film-strip {
  margin-bottom: 20px;
  padding: 15px 0px;
  background-color: #080808;
}
div.film-strip img {
  height: 150px;
  width: 150px;
}
div.film-strip p {
  color:#fff;
  margin: 0px;
  padding: 0px;
  text-align: center;
  white-space: nowrap;
}
div.film-strip p span {
  color: #9d9d9d;
  font-size: small;
}
</style>
	<h1>{{ page.title }}</h1>
{% for p in site.pages %}
		{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
		{% capture num_parts %}{{ url_parts | number_of_words }}{% endcapture %}
		{% capture p_url_parts %} {{ p.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
		{% capture p_num_parts %}{{ p_url_parts | number_of_words | minus: 1 }}{% endcapture %}
		{% if p.title != page.title and p.permalink contains page.permalink and num_parts == p_num_parts %}
		{% unless p.archive %}
			<div class="col-md-2 col-sm-3 col-xs-6 film-strip">
			<a href="{{ p.url | relative_url }}">
				<img class="img-responsive center-block" src="{{ site.url }}{{ site.baseurl }}{{ site.galimgdir }}{{ p.permalink }}{{ p.thumbnail }}">
				<p>'{{ p.title }}'</p>
				<p><span>{{ p.location }}<span></p>
			</a>
		</div>

		{% endunless %}
		{% endif %}
{% endfor %}
<div class="container">
</div>
